body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(34, 34, 34);
}

main {
    background-color: white;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vw;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px cyan;
    padding-bottom: 50px;
    padding-left: 3vw;
    padding-right: 3vw;
    position: relative;
}

div.head {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

div img {
    align-self: center;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

div.content {
    margin-top: 30px;
}

div.content .parameters {
    margin-bottom: 10px;
}

label {
    float: left;
    width: 300px;
}

div.content .parameters select {
    font-size: 15px;
    padding-right: 20px;
}

div.content .parameters input {
    margin: 3px 0px 0px 0px;
}

#generate-button {
    margin-left: 300px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}



#generate-button:hover {
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}

div.generate-password {
    margin-top: 15px;
}